@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
img{
    display: block;
    max-width: 250px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 5px;
}
.container{
    margin:auto;
    max-width: 980px;
}
:root{
    font-family: 'DotGothic16', sans-serif;
    --main-color:black;
    --accent-color:rgb(50,206,211)
}
header>nav{
    background-color: var(--accent-color);
}
header nav .menu{
    display: flex;
    flex-direction: column;
}
header nav .menu a{
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    padding: 0 5px;
}
header nav .menu a:hover{
    font-weight: bold;
}
@media (min-width: 600px) {
    header nav div.container{
        display: flex;
    }
    header nav .menu{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex:1;
    }
}
header .logo{
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
}
