@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
img{
    display: block;
    max-width: 250px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    padding: 5px;
}
.container{
    margin:auto;
    max-width: 980px;
}
:root{
    font-family: 'DotGothic16', sans-serif;
    --main-color:black;
    --accent-color:rgb(50,206,211);
    scroll-behavior: smooth;
}
header>nav{
    background-color: var(--accent-color);
}
header nav .menu{
    display: flex;
    flex-direction: column;
}
header nav .menu a{
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
    padding: 0 5px;
}
header nav .menu a:hover{
    font-weight: bold;
}
@media (min-width: 600px) {
    header nav div.container{
        display: flex;
    }
    header nav .menu{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex:1;
    }
}
header .logo,
header .banner h1{
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
}
header .banner{
    background:no-repeat center/cover url("../img/baby-yoda.svg");
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header .banner h1{
    color: var(--accent-color);
}
main .products>article{
    border: 1px solid var(--main-color);
    padding: 5px;
}
main .products>article img{
    display: block;
    width: 100%;
}
main .products > article>.buttons{
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
@media (min-width: 600px) {
    main .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }

}
@media (min-width: 801px) {
    main .products{
        grid-template-columns: 1fr 1fr 1fr;
    }

}
@media (min-width: 980px) {
    main .products{
        grid-template-columns: repeat(4, 1fr);
    }

}